In [3]:
!pip3 install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/d3/9d/7e90234ea582810a64df845779048c6d47f5d6e2e74746d89e44d095cc07/psycopg2_binary-2.8.5-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5MB)
    100% |████████████████████████████████| 1.6MB 3.5MB/s ta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.5

In [6]:
!pip install psycopg2==2.7.5

Collecting psycopg2==2.7.5
  Downloading psycopg2-2.7.5-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.2 MB/s eta 0:00:01
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.5

In [8]:
import psycopg2
connection = psycopg2.connect(
    host = 'dataviz.cnabmkksexqr.us-west-2.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = '',
    database='amazon_reviews'
    )
cursor=connection.cursor()

In [9]:
import pandas as pd

sql = """
SELECT *
FROM "Joined_Tables" 
"""
pd.read_sql(sql, con=connection)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine type
0,3.8,0.310,0.02,11.1,0.036,20.0,114.0,0.99248,3.75,0.44,12.4,6,1
1,3.9,0.225,0.40,4.2,0.030,29.0,118.0,0.98900,3.57,0.36,12.8,8,1
2,4.2,0.170,0.36,1.8,0.029,93.0,161.0,0.98999,3.65,0.89,12.0,7,1
3,4.2,0.215,0.23,5.1,0.041,64.0,157.0,0.99688,3.42,0.44,8.0,3,1
4,4.4,0.320,0.39,4.3,0.030,31.0,127.0,0.98904,3.46,0.36,12.8,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5,0
6493,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5,0
6494,15.6,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5,0
6495,15.6,0.685,0.76,3.7,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7,0
6496,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,0